site_name: Salt AI Docs
site_url: https://docs.salt.ai/
site_description: Salt AI documentation for nodes, deployments, and platform guides.
theme:
  name: material
  logo: salt-word@2x.png
  favicon: favicon-light.png
  features:
  - navigation.instant
  - navigation.tracking
  - navigation.indexes
  - navigation.top
  - navigation.footer
  - toc.integrate
  - search.suggest
  - search.highlight
  - search.share
  - content.code.copy
  custom_dir: overrides
markdown_extensions:
- tables
- pymdownx.emoji:
    emoji_index: !!python/name:material.extensions.emoji.twemoji ''
    emoji_generator: !!python/name:material.extensions.emoji.to_svg ''
- pymdownx.highlight:
    anchor_linenums: true
    pygments_lang_class: true
    line_spans: __span
- pymdownx.inlinehilite
- pymdownx.snippets
- admonition
- pymdownx.details
- pymdownx.superfences
- def_list
- toc:
    permalink: true
- pymdownx.keys
- attr_list
- md_in_html
extra_css:
- stylesheets/theme.css
extra:
  social:
  - icon: fontawesome/brands/github
    link: https://github.com/get-salt-AI
    name: Salt Github
  - icon: fontawesome/brands/discord
    link: https://discord.gg/saltai
    name: Salt Discord
  analytics:
    provider: google
    property: G-MHLEW2T4PQ

plugins:
- search
- tags
- social:
    cache: false
    cards_layout_options:
      font_family: Inter
      background_color: '#C0BED3'
      color: black
nav:
- Getting Started: index.md
- Nodes: []
- Node Builder:
  - Getting Started with Node Builder: node-builder/getting-started.md
- Deployments:
  - Getting Started with Deployments: deployments/index.md
  - Webform: deployments/webform.md
  - API: deployments/api.md
