site_name: Salt AI Docs
site_url: https://docs.salt.ai/
site_description: Salt AI documentation for nodes, deployments, and platform guides.
theme:
  name: material
  logo: salt-word@2x.png
  favicon: favicon-light.png
  features:
  - navigation.instant
  - navigation.tracking
  - navigation.indexes
  - navigation.top
  - navigation.footer
  - toc.integrate
  - search.suggest
  - search.highlight
  - search.share
  - content.code.copy
  custom_dir: overrides
markdown_extensions:
- tables
- pymdownx.emoji:
    emoji_index: !!python/name:material.extensions.emoji.twemoji ''
    emoji_generator: !!python/name:material.extensions.emoji.to_svg ''
- pymdownx.highlight:
    anchor_linenums: true
    pygments_lang_class: true
    line_spans: __span
- pymdownx.inlinehilite
- pymdownx.snippets
- admonition
- pymdownx.details
- pymdownx.superfences
- def_list
- toc:
    permalink: true
- pymdownx.keys
- attr_list
- md_in_html
extra_css:
- stylesheets/theme.css
extra:
  social:
  - icon: fontawesome/brands/github
    link: https://github.com/get-salt-AI
    name: Salt Github
  - icon: fontawesome/brands/discord
    link: https://discord.gg/saltai
    name: Salt Discord
  analytics:
    provider: google
    property: G-MHLEW2T4PQ

plugins:
- search
- tags
- social:
    cache: false
    cards_layout_options:
      font_family: Inter
      background_color: '#C0BED3'
      color: black
nav:
- Getting Started: index.md
- Nodes:
  - Agents:
    - Create Agent: nodes/md/agents/createagent.md
    - Google Web Search: nodes/md/agents/websearchgoogle.md
    - Run Agents Team: nodes/md/agents/runagentsteam.md
    - Tavily Web Search: nodes/md/agents/websearchtavily.md
    - Web Research Agent: nodes/md/agents/webresearchagent.md
    - Web Scraper: nodes/md/agents/webscraper.md
  - Biotech:
    - Biotech Utils:
      - A3M Combiner: nodes/md/biotech/biotech-utils/a3mcombinernode.md
      - Batch PDB: nodes/md/biotech/biotech-utils/batchpdbnode.md
      - FASTA Combiner: nodes/md/biotech/biotech-utils/fastacombinernode.md
      - Load A3M: nodes/md/biotech/biotech-utils/loada3mnode.md
      - Load CIF: nodes/md/biotech/biotech-utils/loadcifnode.md
      - Load FASTA: nodes/md/biotech/biotech-utils/loadfastanode.md
      - Load PDB: nodes/md/biotech/biotech-utils/loadpdbnode.md
      - PDB Chain Extractor: nodes/md/biotech/biotech-utils/pdbchainextractornode.md
      - PDB Combiner: nodes/md/biotech/biotech-utils/pdbcombinernode.md
      - PDB Fixer: nodes/md/biotech/biotech-utils/pdbfixernode.md
      - PDB To Fasta: nodes/md/biotech/biotech-utils/pdbtofastanode.md
      - PDB Visualization: nodes/md/biotech/biotech-utils/pdbvisualizationnode.md
      - Save To Bucket: nodes/md/biotech/biotech-utils/savetobucketnode.md
      - Save To Zip: nodes/md/biotech/biotech-utils/savetozipnode.md
    - Boltz:
      - Boltz Constraint Builder: nodes/md/biotech/boltz/boltzconstraintnode.md
      - Boltz Ligand Sequence: nodes/md/biotech/boltz/boltzligandsequencenode.md
      - Boltz List Combiner: nodes/md/biotech/boltz/boltzlistcombinernode.md
      - Boltz Predict: nodes/md/biotech/boltz/boltzpredictnode.md
      - Boltz Property Builder: nodes/md/biotech/boltz/boltzpropertynode.md
      - Boltz Protein Sequence: nodes/md/biotech/boltz/boltzproteinsequencenode.md
      - Boltz Sequence Builder: nodes/md/biotech/boltz/boltzsequencenode.md
      - Boltz Template Builder: nodes/md/biotech/boltz/boltztemplatenode.md
      - Boltz YAML Combiner: nodes/md/biotech/boltz/boltzyamlcombinernode.md
    - Functional Prediction:
      - Equidock: nodes/md/biotech/functional-prediction/equidocknode.md
    - Protein Generation:
      - RF Diffusion: nodes/md/biotech/protein-generation/saasrfdiffusionnode.md
      - RF Diffusion Contigmap Config: nodes/md/biotech/protein-generation/saasrfdiffusioncontigmapconfignode.md
      - RF Diffusion Denoiser Config: nodes/md/biotech/protein-generation/saasrfdiffusiondenoiserconfignode.md
      - RF Diffusion Potentials Config: nodes/md/biotech/protein-generation/saasrfdiffusionpotentialsconfignode.md
      - RF Diffusion Scaffold Guided Config: nodes/md/biotech/protein-generation/saasrfdiffusionscaffoldguidedconfignode.md
      - RF Diffusion Symmetry Config: nodes/md/biotech/protein-generation/saasrfdiffusionsymmetryconfignode.md
    - Protein Structure Prediction:
      - Alphafold: nodes/md/biotech/protein-structure-prediction/saasalphafoldnode.md
      - MSA Search: nodes/md/biotech/protein-structure-prediction/saasmsasearchnode.md
    - Sequence Prediction:
      - ProteinMPNN: nodes/md/biotech/sequence-prediction/saasproteinmpnnnode.md
  - Connectors:
    - MSSQL:
      - SQL Server Connection String: nodes/md/connectors/mssql/saltmssqlconnectionstring.md
      - SQL Server Execute: nodes/md/connectors/mssql/saltmssqlexecute.md
      - SQL Server List Tables: nodes/md/connectors/mssql/saltmssqllisttables.md
      - SQL Server Query: nodes/md/connectors/mssql/saltmssqlquery.md
      - SQL Server Table Info: nodes/md/connectors/mssql/saltmssqltableinfo.md
    - MySQL:
      - MySQL Connection String: nodes/md/connectors/mysql/saltmysqlconnectionstring.md
      - MySQL Execute: nodes/md/connectors/mysql/saltmysqlexecute.md
      - MySQL List Databases: nodes/md/connectors/mysql/saltmysqllistdatabases.md
      - MySQL List Tables: nodes/md/connectors/mysql/saltmysqllisttables.md
      - MySQL Query: nodes/md/connectors/mysql/saltmysqlquery.md
      - MySQL Query Builder Helper: nodes/md/connectors/mysql/saltmysqlquerybuilder.md
      - MySQL Table Info: nodes/md/connectors/mysql/saltmysqltableinfo.md
      - MySQL Test Connection: nodes/md/connectors/mysql/saltmysqltestconnection.md
      - MySQL Visual Query Builder: nodes/md/connectors/mysql/saltmysqlvisualquery.md
    - Neo4J:
      - Neo4J Connection String: nodes/md/connectors/neo4j/saltneo4jconnectionstring.md
      - Neo4J Database Info: nodes/md/connectors/neo4j/saltneo4jdatabaseinfo.md
      - Neo4J Graph Explorer: nodes/md/connectors/neo4j/saltneo4jgraphexplorer.md
      - Neo4J Node Labels: nodes/md/connectors/neo4j/saltneo4jnodelabels.md
      - Neo4J Nodes by Label: nodes/md/connectors/neo4j/saltneo4jnodesbylabel.md
      - Neo4J Property Keys: nodes/md/connectors/neo4j/saltneo4jpropertykeys.md
      - Neo4J Query: nodes/md/connectors/neo4j/saltneo4jquery.md
      - Neo4J Relationship Types: nodes/md/connectors/neo4j/saltneo4jrelationshiptypes.md
      - Neo4J Relationships by Type: nodes/md/connectors/neo4j/saltneo4jrelationshipsbytype.md
      - Neo4J Schema Info: nodes/md/connectors/neo4j/saltneo4jschemainfo.md
      - Neo4J Test Connection: nodes/md/connectors/neo4j/saltneo4jtestconnection.md
      - Neo4J Transaction: nodes/md/connectors/neo4j/saltneo4jtransaction.md
      - Neo4J Write: nodes/md/connectors/neo4j/saltneo4jwrite.md
    - Oracle:
      - Oracle Complex Query: nodes/md/connectors/oracle/saltoraclecomplexquery.md
      - Oracle Connection String: nodes/md/connectors/oracle/saltoracleconnectionstring.md
      - Oracle Database Info: nodes/md/connectors/oracle/saltoracledatabaseinfo.md
      - Oracle Execute: nodes/md/connectors/oracle/saltoracleexecute.md
      - Oracle List Schemas: nodes/md/connectors/oracle/saltoraclelistschemas.md
      - Oracle List Tables: nodes/md/connectors/oracle/saltoraclelisttables.md
      - Oracle Query: nodes/md/connectors/oracle/saltoraclequery.md
      - Oracle Query Builder Helper: nodes/md/connectors/oracle/saltoraclequerybuilder.md
      - Oracle Table Info: nodes/md/connectors/oracle/saltoracletableinfo.md
      - Oracle Test Connection: nodes/md/connectors/oracle/saltoracletestconnection.md
      - Oracle Visual Query Builder: nodes/md/connectors/oracle/saltoraclevisualquery.md
    - PostgreSQL:
      - PostgreSQL Connection String: nodes/md/connectors/postgresql/saltpostgresconnectionstring.md
      - PostgreSQL Execute: nodes/md/connectors/postgresql/saltpostgresexecute.md
      - PostgreSQL List Tables: nodes/md/connectors/postgresql/saltpostgreslisttables.md
      - PostgreSQL Query: nodes/md/connectors/postgresql/saltpostgresquery.md
      - PostgreSQL Query Builder Helper: nodes/md/connectors/postgresql/saltpostgresquerybuilder.md
      - PostgreSQL Table Info: nodes/md/connectors/postgresql/saltpostgrestableinfo.md
      - PostgreSQL Visual Query Builder: nodes/md/connectors/postgresql/saltpostgresvisualquery.md
  - Healthcare:
    - ClinicalTrials:
      - ClinicalTrials Study Count: nodes/md/healthcare/clinicaltrials/clinicaltrialsstudycountnode.md
      - ClinicalTrials Study Detail: nodes/md/healthcare/clinicaltrials/clinicaltrialsstudydetailnode.md
      - ClinicalTrials Study Fields: nodes/md/healthcare/clinicaltrials/clinicaltrialsstudyfieldsnode.md
      - ClinicalTrials Study Search: nodes/md/healthcare/clinicaltrials/clinicaltrialsstudysearchnode.md
    - DailyMed:
      - 'DailyMed: Drug Search': nodes/md/healthcare/dailymed/dailymedapinode.md
      - 'DailyMed: Ingredient Search': nodes/md/healthcare/dailymed/dailymedingredientsearchnode.md
      - 'DailyMed: NDC Lookup': nodes/md/healthcare/dailymed/dailymedndclookupnode.md
    - OpenFDA:
      - OpenFDA Drug Product Label: nodes/md/healthcare/openfda/openfdadproductlabelnode.md
      - OpenFDA NDC Directory: nodes/md/healthcare/openfda/openfdandcnode.md
    - RxNorm:
      - Drug Class Analysis: nodes/md/healthcare/rxnorm/saltaidrugclassanalysis.md
      - Drug Classes: nodes/md/healthcare/rxnorm/saltairxclassbydrug.md
      - Population Medication Analysis: nodes/md/healthcare/rxnorm/saltaipopulationmedicationanalysis.md
      - RxCUI by NDC: nodes/md/healthcare/rxnorm/saltairxcuibyndc.md
      - RxClass Information: nodes/md/healthcare/rxnorm/saltairxclassinfo.md
      - RxClass Members: nodes/md/healthcare/rxnorm/saltairxclassmembers.md
      - RxClass Search: nodes/md/healthcare/rxnorm/saltairxclasssearch.md
      - RxNorm Approximate Match: nodes/md/healthcare/rxnorm/saltairxnormapproximatematch.md
      - RxNorm Concept Info: nodes/md/healthcare/rxnorm/saltairxnormconceptinfo.md
      - RxNorm Drug Interactions: nodes/md/healthcare/rxnorm/saltairxnormdruginteractions.md
      - RxNorm Drug Search: nodes/md/healthcare/rxnorm/saltairxnormsearch.md
      - RxNorm Drugs by Class: nodes/md/healthcare/rxnorm/saltairxclassdrugmembers.md
      - RxNorm Related Concepts: nodes/md/healthcare/rxnorm/saltairxnormrelatedconcepts.md
      - RxTerms Information: nodes/md/healthcare/rxnorm/saltairxtermsinfo.md
  - Inputs:
    - Draw Mask: nodes/md/inputs/drawmask.md
    - Dynamic Text: nodes/md/inputs/saltdynamicinput.md
    - File: nodes/md/inputs/saltfileinput.md
    - Text: nodes/md/inputs/salttextinput.md
  - Knowledge Bases:
    - Documents: nodes/md/knowledge-bases/carbonconnectorlocalfiles.md
    - Dropbox: nodes/md/knowledge-bases/carbonconnectordropbox.md
    - GitHub: nodes/md/knowledge-bases/carbonconnectorgithub.md
    - Gmail: nodes/md/knowledge-bases/carbonconnectorgmail.md
    - Google Cloud Storage: nodes/md/knowledge-bases/carbonconnectorgcs.md
    - Google Drive: nodes/md/knowledge-bases/carbonconnectorgoogledrive.md
    - Notion: nodes/md/knowledge-bases/carbonconnectornotion.md
    - OneDrive: nodes/md/knowledge-bases/carbonconnectoronedrive.md
    - S3: nodes/md/knowledge-bases/carbonconnectors3.md
    - Slack: nodes/md/knowledge-bases/carbonconnectorslack.md
    - Web URLs: nodes/md/knowledge-bases/carbonconnectorwebscraper.md
  - LLMs:
    - Anthropic LLM: nodes/md/llms/litellmanthropic.md
    - DeepSeek LLM: nodes/md/llms/litellmdeepseek.md
    - Gemini LLM: nodes/md/llms/litellmgemini.md
    - Groq LLM: nodes/md/llms/litellmgroq.md
    - OpenAI LLM: nodes/md/llms/litellmopenai.md
  - Logic:
    - Do While Loop: nodes/md/logic/saltifnodesimpleloop.md
    - Merge If Branches: nodes/md/logic/saltconditionalmerge.md
    - Simple If: nodes/md/logic/saltifnode.md
    - Condition:
      - Bool Operation: nodes/md/logic/condition/saltbooloperationnode.md
      - Float Condition: nodes/md/logic/condition/saltfloatconditions.md
      - If: nodes/md/logic/condition/ifconditionselector.md
      - Int Condition: nodes/md/logic/condition/saltintconditions.md
      - Lazy Conditional: nodes/md/logic/condition/saltlazyconditional.md
      - Lazy Index Switch: nodes/md/logic/condition/saltlazyindexswitch.md
      - Lazy Switch: nodes/md/logic/condition/saltlazyswitch.md
      - String Condition: nodes/md/logic/condition/saltstringconditions.md
    - Flow Control:
      - For Loop Close (Deprecated): nodes/md/logic/flow-control/saltforloopclose.md
      - For Loop Open (Deprecated): nodes/md/logic/flow-control/saltforloopopen.md
      - JSON Loop Close: nodes/md/logic/flow-control/saltjsonsaltloopclose.md
      - JSON Loop Open: nodes/md/logic/flow-control/saltjsonsaltloopopen.md
      - Loop Close: nodes/md/logic/flow-control/saltloopclose.md
      - Loop Open: nodes/md/logic/flow-control/saltloopopen.md
      - While Loop Close (Deprecated): nodes/md/logic/flow-control/saltwhileloopclose.md
      - While Loop Open (Deprecated): nodes/md/logic/flow-control/saltwhileloopopen.md
      - Accumulation:
        - Accumulate: nodes/md/logic/flow-control/accumulation/saltaccumulatenode.md
        - Accumulation Get Item: nodes/md/logic/flow-control/accumulation/saltaccumulationgetitemnode.md
        - Accumulation Get Length: nodes/md/logic/flow-control/accumulation/saltaccumulationgetlengthnode.md
        - Accumulation Head: nodes/md/logic/flow-control/accumulation/saltaccumulationheadnode.md
        - Accumulation Set Item: nodes/md/logic/flow-control/accumulation/saltaccumulationsetitemnode.md
        - Accumulation Tail: nodes/md/logic/flow-control/accumulation/saltaccumulationtailnode.md
        - Accumulation to List: nodes/md/logic/flow-control/accumulation/saltaccumulationtolistnode.md
        - Combine Accumulation: nodes/md/logic/flow-control/accumulation/combineaccumulationnode.md
        - List to Accumulation: nodes/md/logic/flow-control/accumulation/saltlisttoaccumulationnode.md
    - Logic Utility:
      - Debug Print: nodes/md/logic/logic-utility/saltdebugprint.md
      - To Bool: nodes/md/logic/logic-utility/salttoboolnode.md
  - Outputs:
    - Output: nodes/md/outputs/saltoutput.md
    - Writers:
      - Notion Writer: nodes/md/outputs/writers/notion-writer.md
      - Slack Writer: nodes/md/outputs/writers/slackwriter.md
  - Utilities:
    - API Fetcher: nodes/md/utilities/saltapifetcher.md
    - Code Executor: nodes/md/utilities/saltcodeexecutor.md
    - Data Monitor: nodes/md/utilities/saltdatamonitor.md
    - Inspect: nodes/md/utilities/saltinspect.md
    - Primitive Value Converter: nodes/md/utilities/saltprimitiveconverter.md
    - Regex Search and Match: nodes/md/utilities/saistringregexsearchmatch.md
    - Regex Search and Replace: nodes/md/utilities/saistringregexsearchreplace.md
    - String Operation: nodes/md/utilities/saltstringoperation.md
    - Execution:
      - Delay Execution: nodes/md/utilities/execution/saltdelayexecution.md
      - Halt Execution: nodes/md/utilities/execution/salthaltexecution.md
    - Json:
      - JSON List Processor: nodes/md/utilities/json/saltjsonlistprocessor.md
      - 'JSON: Filter': nodes/md/utilities/json/saltjsonfilter.md
      - 'JSON: From String': nodes/md/utilities/json/saltjsonfromstring.md
      - 'JSON: Get Value': nodes/md/utilities/json/saltjsongetvalue.md
      - 'JSON: Merge': nodes/md/utilities/json/saltjsonmerge.md
      - 'JSON: Set Value': nodes/md/utilities/json/saltjsonsetvalue.md
      - 'JSON: To String': nodes/md/utilities/json/saltjsontostring.md
      - 'JSON: Validate': nodes/md/utilities/json/saltjsonvalidate.md
    - Math:
      - Advanced Math Operation: nodes/md/utilities/math/saltadvancedmathoperation.md
      - Comparison Operation: nodes/md/utilities/math/saltcomparisonoperation.md
      - Float Math Operation: nodes/md/utilities/math/saltfloatmathoperation.md
      - Int Math Operation: nodes/md/utilities/math/saltintmathoperation.md
      - Logarithmic Operation: nodes/md/utilities/math/saltlogarithmicoperation.md
      - Rounding Operation: nodes/md/utilities/math/saltroundingoperation.md
      - Statistical Operation: nodes/md/utilities/math/saltstatisticaloperation.md
      - Trigonometric Operation: nodes/md/utilities/math/salttrigonometricoperation.md
- Node Builder:
  - Getting Started with Node Builder: node-builder/getting-started.md
- Deployments:
  - Getting Started with Deployments: deployments/index.md
  - Webform: deployments/webform.md
  - API: deployments/api.md
