site_name: Salt AI Docs
site_url: https://docs.salt.ai/
site_description: Salt AI documentation for nodes, deployments, and platform guides.
theme:
  name: material
  logo: images/salt-word@2x.png
  favicon: images/favicon-light.png
  features:
  - navigation.instant
  - navigation.tracking
  - navigation.indexes
  - navigation.top
  - navigation.footer
  - toc.integrate
  - search.suggest
  - search.highlight
  - search.share
  - content.code.copy
  custom_dir: overrides
markdown_extensions:
- tables
- pymdownx.emoji:
    emoji_index: !!python/name:material.extensions.emoji.twemoji ''
    emoji_generator: !!python/name:material.extensions.emoji.to_svg ''
- pymdownx.highlight:
    anchor_linenums: true
    pygments_lang_class: true
    line_spans: __span
- pymdownx.inlinehilite
- pymdownx.snippets
- admonition
- pymdownx.details
- pymdownx.superfences
- def_list
- toc:
    permalink: true
- pymdownx.keys
- attr_list
- md_in_html
extra_css:
- stylesheets/theme.css
extra:
  social:
  - icon: fontawesome/brands/github
    link: https://github.com/get-salt-AI
    name: Salt Github
  - icon: fontawesome/brands/discord
    link: https://discord.gg/saltai
    name: Salt Discord
  analytics:
    provider: google
    property: G-MHLEW2T4PQ

plugins:
- search
- tags
- social:
    cache: false
    cards_layout_options:
      font_family: Inter
      background_color: '#C0BED3'
      color: black
nav:
- Getting Started: index.md
- Nodes:
  - Agents:
    - Create Agent: nodes/md/agents/CreateAgent.md
    - Google Web Search: nodes/md/agents/WebSearchGoogle.md
    - Run Agents Team: nodes/md/agents/RunAgentsTeam.md
    - Tavily Web Search: nodes/md/agents/WebSearchTavily.md
    - Web Research Agent: nodes/md/agents/WebResearchAgent.md
    - Web Scraper: nodes/md/agents/WebScraper.md
  - Biotech:
    - Biotech Utils:
      - A3M Combiner: nodes/md/biotech/biotech-utils/A3MCombinerNode.md
      - Batch PDB: nodes/md/biotech/biotech-utils/BatchPDBNode.md
      - FASTA Combiner: nodes/md/biotech/biotech-utils/FastaCombinerNode.md
      - Load PDB: nodes/md/biotech/biotech-utils/LoadPDBNode.md
      - PDB Visualization: nodes/md/biotech/biotech-utils/PDBVisualizationNode.md
      - Pdb To Fasta Node: nodes/md/biotech/biotech-utils/PDBToFastaNode.md
      - Save To Bucket: nodes/md/biotech/biotech-utils/SaveToBucketNode.md
      - Save To Zip: nodes/md/biotech/biotech-utils/SaveToZipNode.md
    - Functional Prediction:
      - Evaluate Diversity: nodes/md/biotech/functional-prediction/EvaluateDiversityNode.md
      - Evaluate Prot Param: nodes/md/biotech/functional-prediction/EvaluateProtParamNode.md
      - Evaluate Unconditional: nodes/md/biotech/functional-prediction/EvaluateUnconditionalNode.md
      - Evaluate Unconditional Initial Guess: nodes/md/biotech/functional-prediction/EvaluateUnconditionalInitialGuessNode.md
      - Haddock: nodes/md/biotech/functional-prediction/HaddockNode.md
      - Immunogenicity B-Cell Epiptope: nodes/md/biotech/functional-prediction/ImmunogenicityBCellEpiptopeNode.md
      - Immunogenicity Class 1: nodes/md/biotech/functional-prediction/ImmunogenicityClass1Node.md
      - Immunogenicity MHC 2: nodes/md/biotech/functional-prediction/ImmunogenicityMHC2Node.md
      - Prodigy: nodes/md/biotech/functional-prediction/ProdigyNode.md
    - Protein Generation:
      - Chroma: nodes/md/biotech/protein-generation/ChromaNode.md
      - Genie 2: nodes/md/biotech/protein-generation/Genie2Node.md
      - RF Diffusion: nodes/md/biotech/protein-generation/RFDiffusionNode.md
      - RF Diffusion Contigmap Config: nodes/md/biotech/protein-generation/RFDiffusionContigmapConfigNode.md
      - RF Diffusion Denoiser Config: nodes/md/biotech/protein-generation/RFDiffusionDenoiserConfigNode.md
      - RF Diffusion Potentials Config: nodes/md/biotech/protein-generation/RFDiffusionPotentialsConfigNode.md
      - RF Diffusion Symmetry Config: nodes/md/biotech/protein-generation/RFDiffusionSymmetryConfigNode.md
    - Protein Structure Prediction:
      - Alphafold: nodes/md/biotech/protein-structure-prediction/AlphafoldNode.md
      - Alphafold Initial Guess: nodes/md/biotech/protein-structure-prediction/AlphafoldInitialGuessNode.md
      - Colabfold Batch: nodes/md/biotech/protein-structure-prediction/ColabfoldBatchNode.md
      - Colabfold Search: nodes/md/biotech/protein-structure-prediction/ColabfoldSearchNode.md
      - MSA Search: nodes/md/biotech/protein-structure-prediction/MSASearchNode.md
      - Rosetta Fast Relax: nodes/md/biotech/protein-structure-prediction/RosettaFastRelaxNode.md
    - Sequence Prediction:
      - ProteinMPNN: nodes/md/biotech/sequence-prediction/ProteinMPNNNode.md
  - Inputs:
    - Draw Mask: nodes/md/inputs/DrawMask.md
    - Dynamic Text: nodes/md/inputs/SaltDynamicInput.md
    - File: nodes/md/inputs/SaltFileInput.md
    - Load Image: nodes/md/inputs/LoadImage.md
    - Text: nodes/md/inputs/SaltTextInput.md
  - Knowledge Bases:
    - Documents: nodes/md/knowledge-bases/CarbonConnectorLocalFiles.md
    - Dropbox: nodes/md/knowledge-bases/CarbonConnectorDropbox.md
    - GitHub: nodes/md/knowledge-bases/CarbonConnectorGitHub.md
    - Gmail: nodes/md/knowledge-bases/CarbonConnectorGmail.md
    - Google Cloud Storage: nodes/md/knowledge-bases/CarbonConnectorGCS.md
    - Google Drive: nodes/md/knowledge-bases/CarbonConnectorGoogleDrive.md
    - Notion: nodes/md/knowledge-bases/CarbonConnectorNotion.md
    - OneDrive: nodes/md/knowledge-bases/CarbonConnectorOneDrive.md
    - S3: nodes/md/knowledge-bases/CarbonConnectorS3.md
    - Slack: nodes/md/knowledge-bases/CarbonConnectorSlack.md
    - Web URLs: nodes/md/knowledge-bases/CarbonConnectorWebScraper.md
  - LLMs:
    - Anthropic LLM: nodes/md/llms/LiteLLMAnthropic.md
    - DeepSeek LLM: nodes/md/llms/LiteLLMDeepSeek.md
    - Gemini LLM: nodes/md/llms/LiteLLMGemini.md
    - Groq LLM: nodes/md/llms/LiteLLMGroq.md
    - OpenAI LLM: nodes/md/llms/LiteLLMOpenAi.md
  - Logic:
    - Condition:
      - Bool Operation: nodes/md/logic/condition/SaltBoolOperationNode.md
      - Float Condition: nodes/md/logic/condition/SaltFloatConditions.md
      - Int Condition: nodes/md/logic/condition/SaltIntConditions.md
      - Lazy Conditional: nodes/md/logic/condition/SaltLazyConditional.md
      - Lazy Index Switch: nodes/md/logic/condition/SaltLazyIndexSwitch.md
      - Lazy Switch: nodes/md/logic/condition/SaltLazySwitch.md
      - String Condition: nodes/md/logic/condition/SaltStringConditions.md
    - Flow Control:
      - For Loop Close (Deprecated): nodes/md/logic/flow-control/SaltForLoopClose.md
      - For Loop Open (Deprecated): nodes/md/logic/flow-control/SaltForLoopOpen.md
      - While Loop Close (Deprecated): nodes/md/logic/flow-control/SaltWhileLoopClose.md
      - While Loop Open (Deprecated): nodes/md/logic/flow-control/SaltWhileLoopOpen.md
      - Accumulation:
        - Accumulate: nodes/md/logic/flow-control/accumulation/SaltAccumulateNode.md
        - Accumulation Get Item: nodes/md/logic/flow-control/accumulation/SaltAccumulationGetItemNode.md
        - Accumulation Get Length: nodes/md/logic/flow-control/accumulation/SaltAccumulationGetLengthNode.md
        - Accumulation Head: nodes/md/logic/flow-control/accumulation/SaltAccumulationHeadNode.md
        - Accumulation Set Item: nodes/md/logic/flow-control/accumulation/SaltAccumulationSetItemNode.md
        - Accumulation Tail: nodes/md/logic/flow-control/accumulation/SaltAccumulationTailNode.md
        - Accumulation to List: nodes/md/logic/flow-control/accumulation/SaltAccumulationToListNode.md
        - List to Accumulation: nodes/md/logic/flow-control/accumulation/SaltListToAccumulationNode.md
    - Logic Utility:
      - Int Math Operation: nodes/md/logic/logic-utility/SaltIntMathOperation.md
      - Make List: nodes/md/logic/logic-utility/SaltMakeListNode.md
      - SaltDebugPrint: nodes/md/logic/logic-utility/SaltDebugPrint.md
      - To Bool: nodes/md/logic/logic-utility/SaltToBoolNode.md
  - New/Uncategorized:
    - API Fetcher: nodes/md/new-uncategorized/SaltAPIFetcher.md
    - Advanced Math Operation: nodes/md/new-uncategorized/SaltAdvancedMathOperation.md
    - Boltz (Deprecated): nodes/md/new-uncategorized/BoltzNode.md
    - Boltz Constraint Builder: nodes/md/new-uncategorized/BoltzConstraintNode.md
    - Boltz Ligand Sequence: nodes/md/new-uncategorized/BoltzLigandSequenceNode.md
    - Boltz List Combiner: nodes/md/new-uncategorized/BoltzListCombinerNode.md
    - Boltz Multimer: nodes/md/new-uncategorized/BoltzMultimerNode.md
    - Boltz Partial Diffusion: nodes/md/new-uncategorized/BoltzPartialDiffusionNode.md
    - Boltz Predict: nodes/md/new-uncategorized/BoltzPredictNode.md
    - Boltz Property Builder: nodes/md/new-uncategorized/BoltzPropertyNode.md
    - Boltz Protein Sequence: nodes/md/new-uncategorized/BoltzProteinSequenceNode.md
    - Boltz Sequence Builder: nodes/md/new-uncategorized/BoltzSequenceNode.md
    - Boltz Template Builder: nodes/md/new-uncategorized/BoltzTemplateNode.md
    - Boltz YAML Combiner: nodes/md/new-uncategorized/BoltzYAMLCombinerNode.md
    - CIF to PDB: nodes/md/new-uncategorized/CIFToPDBNode.md
    - ClinicalTrials Study Count: nodes/md/new-uncategorized/ClinicalTrialsStudyCountNode.md
    - ClinicalTrials Study Detail: nodes/md/new-uncategorized/ClinicalTrialsStudyDetailNode.md
    - ClinicalTrials Study Fields: nodes/md/new-uncategorized/ClinicalTrialsStudyFieldsNode.md
    - ClinicalTrials Study Search: nodes/md/new-uncategorized/ClinicalTrialsStudySearchNode.md
    - Code Executor: nodes/md/new-uncategorized/SaltCodeExecutor.md
    - Comparison Operation: nodes/md/new-uncategorized/SaltComparisonOperation.md
    - 'DailyMed: Drug Search': nodes/md/new-uncategorized/DailyMedAPINode.md
    - 'DailyMed: Ingredient Search': nodes/md/new-uncategorized/DailyMedIngredientSearchNode.md
    - 'DailyMed: NDC Lookup': nodes/md/new-uncategorized/DailyMedNDCLookupNode.md
    - Data Monitor: nodes/md/new-uncategorized/SaltDataMonitor.md
    - Delay Execution: nodes/md/new-uncategorized/SaltDelayExecution.md
    - Drug Class Analysis: nodes/md/new-uncategorized/SaltAIDrugClassAnalysis.md
    - Drug Classes: nodes/md/new-uncategorized/SaltAIRxClassByDrug.md
    - Float Math Operation: nodes/md/new-uncategorized/SaltFloatMathOperation.md
    - Halt Execution: nodes/md/new-uncategorized/SaltHaltExecution.md
    - If: nodes/md/new-uncategorized/IfConditionSelector.md
    - JSON List Processor: nodes/md/new-uncategorized/SaltJSONListProcessor.md
    - JSON Loop Close: nodes/md/new-uncategorized/SaltJsonSaltLoopClose.md
    - JSON Loop Open: nodes/md/new-uncategorized/SaltJsonSaltLoopOpen.md
    - 'JSON: Filter': nodes/md/new-uncategorized/SaltJsonFilter.md
    - 'JSON: From String': nodes/md/new-uncategorized/SaltJsonFromString.md
    - 'JSON: Get Value': nodes/md/new-uncategorized/SaltJsonGetValue.md
    - 'JSON: Merge': nodes/md/new-uncategorized/SaltJsonMerge.md
    - 'JSON: Set Value': nodes/md/new-uncategorized/SaltJsonSetValue.md
    - 'JSON: To String': nodes/md/new-uncategorized/SaltJsonToString.md
    - 'JSON: Validate': nodes/md/new-uncategorized/SaltJsonValidate.md
    - Load A3M MSA: nodes/md/new-uncategorized/LoadA3MNode.md
    - Load FASTA: nodes/md/new-uncategorized/LoadFastaNode.md
    - Logarithmic Operation: nodes/md/new-uncategorized/SaltLogarithmicOperation.md
    - Loop Close: nodes/md/new-uncategorized/SaltLoopClose.md
    - Loop Open: nodes/md/new-uncategorized/SaltLoopOpen.md
    - OpenFDA Drug Product Label: nodes/md/new-uncategorized/OpenFDADProductLabelNode.md
    - OpenFDA NDC Directory: nodes/md/new-uncategorized/OpenFDANDCNode.md
    - PDB Chain Extractor: nodes/md/new-uncategorized/PDBChainExtractorNode.md
    - PDB Combiner: nodes/md/new-uncategorized/PDBCombinerNode.md
    - PDB Fixer: nodes/md/new-uncategorized/PdbFixerNode.md
    - PDB To CIF: nodes/md/new-uncategorized/PDBToCIFNode.md
    - Population Medication Analysis: nodes/md/new-uncategorized/SaltAIPopulationMedicationAnalysis.md
    - Primitive Value Converter: nodes/md/new-uncategorized/SaltPrimitiveConverter.md
    - Rounding Operation: nodes/md/new-uncategorized/SaltRoundingOperation.md
    - RxCUI by NDC: nodes/md/new-uncategorized/SaltAIRxCUIByNDC.md
    - RxClass Information: nodes/md/new-uncategorized/SaltAIRxClassInfo.md
    - RxClass Members: nodes/md/new-uncategorized/SaltAIRxClassMembers.md
    - RxClass Search: nodes/md/new-uncategorized/SaltAIRxClassSearch.md
    - RxNorm Approximate Match: nodes/md/new-uncategorized/SaltAIRxNormApproximateMatch.md
    - RxNorm Concept Info: nodes/md/new-uncategorized/SaltAIRxNormConceptInfo.md
    - RxNorm Drug Interactions: nodes/md/new-uncategorized/SaltAIRxNormDrugInteractions.md
    - RxNorm Drug Search: nodes/md/new-uncategorized/SaltAIRxNormSearch.md
    - RxNorm Drugs by Class: nodes/md/new-uncategorized/SaltAIRxClassDrugMembers.md
    - RxNorm Related Concepts: nodes/md/new-uncategorized/SaltAIRxNormRelatedConcepts.md
    - RxTerms Information: nodes/md/new-uncategorized/SaltAIRxTermsInfo.md
    - Statistical Operation: nodes/md/new-uncategorized/SaltStatisticalOperation.md
    - String Operation: nodes/md/new-uncategorized/SaltStringOperation.md
    - Trigonometric Operation: nodes/md/new-uncategorized/SaltTrigonometricOperation.md
  - Outputs:
    - Output: nodes/md/outputs/SaltOutput.md
    - Writers:
      - Notion Writer: nodes/md/outputs/writers/Notion Writer.md
      - Slack Writer: nodes/md/outputs/writers/SlackWriter.md
  - Utilities:
    - Inspect: nodes/md/utilities/SaltInspect.md
    - Preview Image: nodes/md/utilities/PreviewImage.md
    - Regex Search and Match: nodes/md/utilities/SAIStringRegexSearchMatch.md
    - Regex Search and Replace: nodes/md/utilities/SAIStringRegexSearchReplace.md
- Node Builder:
  - Getting Started with Node Builder: node-builder/getting-started.md
- Deployments:
  - Getting Started with Deployments: deployments/index.md
  - Webform: deployments/webform.md
  - API: deployments/api.md
