:root {
  --md-primary-fg-color: var(--color-surface-12);
  --md-primary-fg-color--light: #5d6cc0;
  --md-primary-fg-color--dark: #303fa1;
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: #ffffffb3;
  --md-accent-fg-color: #526cfe;
  --md-accent-fg-color--transparent: #526cfe1a;
  --md-accent-bg-color: #fff;
  --md-accent-bg-color--light: #ffffffb3;

  /* basic colors */
  --color-white: #ffffff;
  --color-black: #000000;

  /* flat gray scale that does not respond to light/dark */
  --color-grayscale-1: rgb(253, 253, 253);
  --color-grayscale-2: rgb(243, 243, 243);
  --color-grayscale-3: rgb(232, 232, 232);
  --color-grayscale-4: rgb(220, 220, 220);
  --color-grayscale-5: rgb(208, 208, 208);
  --color-grayscale-6: rgb(194, 194, 194);
  --color-grayscale-7: rgb(179, 179, 179);
  --color-grayscale-8: rgb(163, 163, 163);
  --color-grayscale-9: rgb(143, 143, 143);
  --color-grayscale-10: rgb(120, 120, 120);
  --color-grayscale-11: rgb(89, 89, 89);
  --color-grayscale-12: rgb(29, 29, 29);

  /* foreground */
  --color-text-base: var(--color-surface-12);
  --color-text-subtle: var(--color-surface-11);
  --color-text-muted: var(--color-surface-10);

  /* background */
  --color-page-background: var(--color-surface-1);

  /* icons */
  --color-icon-muted: var(--color-surface-10);
  --color-icon-base: var(--color-text-base);

  /* borders */
  --color-border-muted: var(--color-surface-6);
  --color-border-base: var(--color-surface-8);
  --color-border-strong: var(--color-surface-11);

  /* color sets */
  --color-surface-1: var(--color-mercury-1);
  --color-surface-2: var(--color-mercury-2);
  --color-surface-3: var(--color-mercury-3);
  --color-surface-4: var(--color-mercury-4);
  --color-surface-5: var(--color-mercury-5);
  --color-surface-6: var(--color-mercury-6);
  --color-surface-7: var(--color-mercury-7);
  --color-surface-8: var(--color-mercury-8);
  --color-surface-9: var(--color-mercury-9);
  --color-surface-10: var(--color-mercury-10);
  --color-surface-11: var(--color-mercury-11);
  --color-surface-12: var(--color-mercury-12);

  --color-surfaceA-1: var(--color-mercuryA-1);
  --color-surfaceA-2: var(--color-mercuryA-2);
  --color-surfaceA-3: var(--color-mercuryA-3);
  --color-surfaceA-4: var(--color-mercuryA-4);
  --color-surfaceA-5: var(--color-mercuryA-5);
  --color-surfaceA-6: var(--color-mercuryA-6);
  --color-surfaceA-7: var(--color-mercuryA-7);
  --color-surfaceA-8: var(--color-mercuryA-8);
  --color-surfaceA-9: var(--color-mercuryA-9);
  --color-surfaceA-10: var(--color-mercuryA-10);
  --color-surfaceA-11: var(--color-mercuryA-11);
  --color-surfaceA-12: var(--color-mercuryA-12);

  --color-primary-1: var(--color-creamsicle-1);
  --color-primary-2: var(--color-creamsicle-2);
  --color-primary-3: var(--color-creamsicle-3);
  --color-primary-4: var(--color-creamsicle-4);
  --color-primary-5: var(--color-creamsicle-5);
  --color-primary-6: var(--color-creamsicle-6);
  --color-primary-7: var(--color-creamsicle-7);
  --color-primary-8: var(--color-creamsicle-8);
  --color-primary-9: var(--color-creamsicle-9);
  --color-primary-10: var(--color-creamsicle-10);
  --color-primary-11: var(--color-creamsicle-11);
  --color-primary-12: var(--color-creamsicle-12);

  --color-primaryA-1: var(--color-creamsicleA-1);
  --color-primaryA-2: var(--color-creamsicleA-2);
  --color-primaryA-3: var(--color-creamsicleA-3);
  --color-primaryA-4: var(--color-creamsicleA-4);
  --color-primaryA-5: var(--color-creamsicleA-5);
  --color-primaryA-6: var(--color-creamsicleA-6);
  --color-primaryA-7: var(--color-creamsicleA-7);
  --color-primaryA-8: var(--color-creamsicleA-8);
  --color-primaryA-9: var(--color-creamsicleA-9);
  --color-primaryA-10: var(--color-creamsicleA-10);
  --color-primaryA-11: var(--color-creamsicleA-11);
  --color-primaryA-12: var(--color-creamsicleA-12);

  --color-secondary-1: var(--color-eggplant-1);
  --color-secondary-2: var(--color-eggplant-2);
  --color-secondary-3: var(--color-eggplant-3);
  --color-secondary-4: var(--color-eggplant-4);
  --color-secondary-5: var(--color-eggplant-5);
  --color-secondary-6: var(--color-eggplant-6);
  --color-secondary-7: var(--color-eggplant-7);
  --color-secondary-8: var(--color-eggplant-8);
  --color-secondary-9: var(--color-eggplant-9);
  --color-secondary-10: var(--color-eggplant-10);
  --color-secondary-11: var(--color-eggplant-11);
  --color-secondary-12: var(--color-eggplant-12);

  --color-secondaryA-1: var(--color-eggplantA-1);
  --color-secondaryA-2: var(--color-eggplantA-2);
  --color-secondaryA-3: var(--color-eggplantA-3);
  --color-secondaryA-4: var(--color-eggplantA-4);
  --color-secondaryA-5: var(--color-eggplantA-5);
  --color-secondaryA-6: var(--color-eggplantA-6);
  --color-secondaryA-7: var(--color-eggplantA-7);
  --color-secondaryA-8: var(--color-eggplantA-8);
  --color-secondaryA-9: var(--color-eggplantA-9);
  --color-secondaryA-10: var(--color-eggplantA-10);
  --color-secondaryA-11: var(--color-eggplantA-11);
  --color-secondaryA-12: var(--color-eggplantA-12);

  --color-disabled-1: var(--color-gray-1);
  --color-disabled-2: var(--color-gray-2);
  --color-disabled-3: var(--color-gray-3);
  --color-disabled-4: var(--color-gray-4);
  --color-disabled-5: var(--color-gray-5);
  --color-disabled-6: var(--color-gray-6);
  --color-disabled-7: var(--color-gray-7);
  --color-disabled-8: var(--color-gray-8);
  --color-disabled-9: var(--color-gray-9);
  --color-disabled-10: var(--color-gray-10);
  --color-disabled-11: var(--color-gray-11);
  --color-disabled-12: var(--color-gray-12);

  --color-warning-1: var(--color-amber-1);
  --color-warning-2: var(--color-amber-2);
  --color-warning-3: var(--color-amber-3);
  --color-warning-4: var(--color-amber-4);
  --color-warning-5: var(--color-amber-5);
  --color-warning-6: var(--color-amber-6);
  --color-warning-7: var(--color-amber-7);
  --color-warning-8: var(--color-amber-8);
  --color-warning-9: var(--color-amber-9);
  --color-warning-10: var(--color-amber-10);
  --color-warning-11: var(--color-amber-11);
  --color-warning-12: var(--color-amber-12);

  --color-warningA-1: var(--color-amberA-1);
  --color-warningA-2: var(--color-amberA-2);
  --color-warningA-3: var(--color-amberA-3);
  --color-warningA-4: var(--color-amberA-4);
  --color-warningA-5: var(--color-amberA-5);
  --color-warningA-6: var(--color-amberA-6);
  --color-warningA-7: var(--color-amberA-7);
  --color-warningA-8: var(--color-amberA-8);
  --color-warningA-9: var(--color-amberA-9);
  --color-warningA-10: var(--color-amberA-10);
  --color-warningA-11: var(--color-amberA-11);
  --color-warningA-12: var(--color-amberA-12);

  --color-error-1: var(--color-red-1);
  --color-error-2: var(--color-red-2);
  --color-error-3: var(--color-red-3);
  --color-error-4: var(--color-red-4);
  --color-error-5: var(--color-red-5);
  --color-error-6: var(--color-red-6);
  --color-error-7: var(--color-red-7);
  --color-error-8: var(--color-red-8);
  --color-error-9: var(--color-red-9);
  --color-error-10: var(--color-red-10);
  --color-error-11: var(--color-red-11);
  --color-error-12: var(--color-red-12);

  --color-errorA-1: var(--color-redA-1);
  --color-errorA-2: var(--color-redA-2);
  --color-errorA-3: var(--color-redA-3);
  --color-errorA-4: var(--color-redA-4);
  --color-errorA-5: var(--color-redA-5);
  --color-errorA-6: var(--color-redA-6);
  --color-errorA-7: var(--color-redA-7);
  --color-errorA-8: var(--color-redA-8);
  --color-errorA-9: var(--color-redA-9);
  --color-errorA-10: var(--color-redA-10);
  --color-errorA-11: var(--color-redA-11);
  --color-errorA-12: var(--color-redA-12);

  --color-success-1: var(--color-jade-1);
  --color-success-2: var(--color-jade-2);
  --color-success-3: var(--color-jade-3);
  --color-success-4: var(--color-jade-4);
  --color-success-5: var(--color-jade-5);
  --color-success-6: var(--color-jade-6);
  --color-success-7: var(--color-jade-7);
  --color-success-8: var(--color-jade-8);
  --color-success-9: var(--color-jade-9);
  --color-success-10: var(--color-jade-10);
  --color-success-11: var(--color-jade-11);
  --color-success-12: var(--color-jade-12);

  --color-successA-1: var(--color-jadeA-1);
  --color-successA-2: var(--color-jadeA-2);
  --color-successA-3: var(--color-jadeA-3);
  --color-successA-4: var(--color-jadeA-4);
  --color-successA-5: var(--color-jadeA-5);
  --color-successA-6: var(--color-jadeA-6);
  --color-successA-7: var(--color-jadeA-7);
  --color-successA-8: var(--color-jadeA-8);
  --color-successA-9: var(--color-jadeA-9);
  --color-successA-10: var(--color-jadeA-10);
  --color-successA-11: var(--color-jadeA-11);
  --color-successA-12: var(--color-jadeA-12);

  --color-jade-1: #fbfefd;
  --color-jade-2: #f4fbf7;
  --color-jade-3: #e6f7ed;
  --color-jade-4: #d6f1e3;
  --color-jade-5: #c3e9d7;
  --color-jade-6: #acdec8;
  --color-jade-7: #8bceb6;
  --color-jade-8: #56ba9f;
  --color-jade-9: #29a383;
  --color-jade-10: #26997b;
  --color-jade-11: #208368;
  --color-jade-12: #1d3b31;

  --color-jadeA-1: #00c08004;
  --color-jadeA-2: #00a3460b;
  --color-jadeA-3: #00ae4819;
  --color-jadeA-4: #00a85129;
  --color-jadeA-5: #00a2553c;
  --color-jadeA-6: #009a5753;
  --color-jadeA-7: #00945f74;
  --color-jadeA-8: #00976ea9;
  --color-jadeA-9: #00916bd6;
  --color-jadeA-10: #008764d9;
  --color-jadeA-11: #007152df;
  --color-jadeA-12: #002217e2;

  --color-amber-1: #fefdfb;
  --color-amber-2: #fefbe9;
  --color-amber-3: #fff7c2;
  --color-amber-4: #ffee9c;
  --color-amber-5: #fbe577;
  --color-amber-6: #f3d673;
  --color-amber-7: #e9c162;
  --color-amber-8: #e2a336;
  --color-amber-9: #ffc53d;
  --color-amber-10: #ffba18;
  --color-amber-11: #ab6400;
  --color-amber-12: #4f3422;

  --color-amberA-1: #c0800004;
  --color-amberA-2: #f4d10016;
  --color-amberA-3: #ffde003d;
  --color-amberA-4: #ffd40063;
  --color-amberA-5: #f8cf0088;
  --color-amberA-6: #eab5008c;
  --color-amberA-7: #dc9b009d;
  --color-amberA-8: #da8a00c9;
  --color-amberA-9: #ffb300c2;
  --color-amberA-10: #ffb300e7;
  --color-amberA-11: #ab6400;
  --color-amberA-12: #341500dd;

  --color-red-1: #fffcfc;
  --color-red-2: #fff7f7;
  --color-red-3: #feebec;
  --color-red-4: #ffdbdc;
  --color-red-5: #ffcdce;
  --color-red-6: #fdbdbe;
  --color-red-7: #f4a9aa;
  --color-red-8: #eb8e90;
  --color-red-9: #e5484d;
  --color-red-10: #dc3e42;
  --color-red-11: #ce2c31;
  --color-red-12: #641723;

  --color-redA-1: #ff000003;
  --color-redA-2: #ff000008;
  --color-redA-3: #f3000d14;
  --color-redA-4: #ff000824;
  --color-redA-5: #ff000632;
  --color-redA-6: #f8000442;
  --color-redA-7: #df000356;
  --color-redA-8: #d2000571;
  --color-redA-9: #db0007b7;
  --color-redA-10: #d10005c1;
  --color-redA-11: #c40006d3;
  --color-redA-12: #55000de8;

  --color-gray-1: #fcfcfc;
  --color-gray-2: #f9f9f9;
  --color-gray-3: #f0f0f0;
  --color-gray-4: #e8e8e8;
  --color-gray-5: #e0e0e0;
  --color-gray-6: #d9d9d9;
  --color-gray-7: #cecece;
  --color-gray-8: #bbbbbb;
  --color-gray-9: #8d8d8d;
  --color-gray-10: #838383;
  --color-gray-11: #646464;
  --color-gray-12: #202020;

  --color-mercury-1: #fbfbfd;
  --color-mercury-2: #f3f3f6;
  --color-mercury-3: #eeeef1;
  --color-mercury-4: #e9e9ec;
  --color-mercury-5: #e3e3e6;
  --color-mercury-6: #dbdbe0;
  --color-mercury-7: #c1c1c7;
  --color-mercury-8: #b6b6be;
  --color-mercury-9: #86868e;
  --color-mercury-10: #7a7a81;
  --color-mercury-11: #5e5e66;
  --color-mercury-12: #09090b;

  --color-mercuryA-1: hsla(240, 33%, 99%, 1);
  --color-mercuryA-2: hsla(240, 60%, 99%, 0.97);
  --color-mercuryA-3: hsla(240, 60%, 99%, 0.95);
  --color-mercuryA-4: hsla(240, 60%, 99%, 0.93);
  --color-mercuryA-5: hsla(240, 50%, 98%, 0.91);
  --color-mercuryA-6: hsla(240, 100%, 99%, 0.88);
  --color-mercuryA-7: hsla(240, 57%, 97%, 0.79);
  --color-mercuryA-8: hsla(240, 71%, 97%, 0.75);
  --color-mercuryA-9: hsla(240, 88%, 97%, 0.56);
  --color-mercuryA-10: hsla(240, 78%, 97%, 0.51);
  --color-mercuryA-11: hsla(240, 100%, 96%, 0.4);
  --color-mercuryA-12: hsla(240, 36%, 78%, 0.05);

  --color-creamsicle-1: #fefcfb;
  --color-creamsicle-2: #fff6f2;
  --color-creamsicle-3: #ffebe1;
  --color-creamsicle-4: #ffdac9;
  --color-creamsicle-5: #ffcbb4;
  --color-creamsicle-6: #ffbb9e;
  --color-creamsicle-7: #f8a98b;
  --color-creamsicle-8: #ed916e;
  --color-creamsicle-9: #ff763d;
  --color-creamsicle-10: #f3692d;
  --color-creamsicle-11: #ce4c01;
  --color-creamsicle-12: #572d1d;

  --color-creamsicle-a1: #c0400004;
  --color-creamsicle-a2: #ff4f000d;
  --color-creamsicle-a3: #ff55001e;
  --color-creamsicle-a4: #ff510036;
  --color-creamsicle-a5: #ff4f014b;
  --color-creamsicle-a6: #ff4d0061;
  --color-creamsicle-a7: #f0420074;
  --color-creamsicle-a8: #e03e0091;
  --color-creamsicle-a9: #ff4b00c2;
  --color-creamsicle-a10: #f14900d2;
  --color-creamsicle-a11: #ce4b00fe;
  --color-creamsicle-a12: #421200e2;

  --color-eggplant-1: #f2f2f2;
  --color-eggplant-2: #fbfbfc;
  --color-eggplant-3: #f3f3f7;
  --color-eggplant-4: #ebebf1;
  --color-eggplant-5: #e2e1eb;
  --color-eggplant-6: #d4d3e1;
  --color-eggplant-7: #c0bed3;
  --color-eggplant-8: #a4a2c0;
  --color-eggplant-9: #6b6798;
  --color-eggplant-10: #635f8c;
  --color-eggplant-11: #59557e;
  --color-eggplant-12: #1c1b28;

  --color-eggplantA-1: hsla(240, 48%, 41%, 0.01);
  --color-eggplantA-2: hsla(240, 31%, 31%, 0.02);
  --color-eggplantA-3: hsla(240, 73%, 22%, 0.05);
  --color-eggplantA-4: hsla(240, 88%, 17%, 0.08);
  --color-eggplantA-5: hsla(246, 89%, 18%, 0.12);
  --color-eggplantA-6: hsla(244, 78%, 19%, 0.18);
  --color-eggplantA-7: hsla(246, 89%, 18%, 0.26);
  --color-eggplantA-8: hsla(244, 91%, 18%, 0.37);
  --color-eggplantA-9: hsla(244, 95%, 17%, 0.58);
  --color-eggplantA-10: hsla(245, 97%, 14%, 0.63);
  --color-eggplantA-11: hsla(246, 97%, 12%, 0.67);
  --color-eggplantA-12: hsla(244, 78%, 4%, 0.9);
}
